.logo {
  height: 100px;
  width: 100px;
  .link {
    
    .img {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  }
}

input {
  width: 150px;
  padding-left: 10px;
  outline: none;
}


