.navbar {
  display: flex;
  justify-content: space-between;
  .logo {
    display: block;
    min-height: 50px;
    padding-top: 15px;
    padding-left: 40px;
    .title {
      font-family: "Amatic SC", cursive;
      width: 250px;
      text-shadow: 1px 1px 1px black;
    }
    .buttons {
      align-self: flex-start;
    }
  }
}
