.logo {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: space-betwe;


  .img {
    height: 100%;
    width: 100px;
    background-position: center;
    background-size: cover;
  }
  span {
    width: 100px;
    margin-top: 10px;
  }
}

input {
  width: 150px;
  padding-left: 10px;
  outline: none;
}
