.banner {
  display: flex;
  justify-content: center;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
    
    .bannerTitle {
      font-family: "Amatic SC", cursive;
    }
  }
  
}
